# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# “Copyright 2018 Google LLC. This software is provided as-is, without warranty or representation for any use or purpose.
#  Your use of it is subject to your agreements with Google.” 
resources:
- name: {{ properties["basename"] }}-lb-be
  type: compute.v1.backendService
  properties:
    affinityCookieTtlSec: 0
    backends:
    - balancingMode: UTILIZATION
      capacityScaler: 1.0
      group: regions/{{ properties["region"] }}/instanceGroups/{{ properties["basename"] }}-ig
    maxUtilization: 0.8
    connectionDraining:
      drainingTimeoutSec: 300
    enableCDN: false
    healthChecks:
    - global/httpHealthChecks/{{ properties["basename"] }}-hc
    loadBalancingScheme: EXTERNAL
    port: {{ properties["port"] }}
    portName: http
    protocol: HTTP
    sessionAffinity: NONE
    timeoutSec: 30
